.App-list-link {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.App-list-link li {
  float: left;
  width: 301px;
}

.App-list-link li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* ---------- ACTIVE ---------- */

.App-list-link li a.active {
  background-color: #04aa6d;
}
